<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <a href="index.html" class="logo"><img src="assets/media/icons/logo.png" alt="logo"></a>
                <nav class="header__nav">
                    <a href="reviews.html">Отзывы</a>
                    <a href="blog.html">Блог</a>
                    <a href="contact.html">Контакты</a>
                </nav>
                <div class="row dop__link">
                    <a href="#" id="logout">
                        <img src="assets/media/icons/exit_to_app.svg" alt="exit">
                    </a>
                    <a href="mailto: support@transporter.com">support@transporter.com</a>
                </div>
            </div>
        </header>
        <main>
            <div class="popup" data-popup="add_avto">
                <div class="over"></div>
                <div class="main">
                    <h2>Информация о транспортном средстве</h2>
                    <form action="add_avto">
                        <input type="text" class="input__cust" placeholder="Марка и модель автомобиля" name="marka_model" required>
                        <input type="text" class="input__cust" placeholder="Год выпуска" name="year_production" required>
                        <input type="text" class="input__cust" placeholder="Номерной знак" name="reg_number" required>
                        <select name="vehicle_type" id="vehicle_type" class="input__cust">
                            <option value="" selected>Тип транспортного средства</option>
                            <option value="Мини-фургон">Мини-фургон</option>
                            <option value="Грузовик">Грузовик</option>
                        </select>
                        <input type="text" class="input__cust" placeholder="Грузоподъемность" name="lifting_capacity" required>
                        <input type="text" class="input__cust" placeholder="Объем кузова" name="body_volume" required>
                        <button class="btn">Сохранить</button>
                    </form>
                </div>
            </div>
            <section class="profile__sec">
                <div class="container">
                    <nav class="profile__nav">
                        <a href="profile.html" class="active">Профиль</a>
                        <a href="avtopark.html">Мой автопарк</a>
                        <a href="myorders.html">Мои заказы</a>
                        <a href="offers.html">Предложения</a>
                        <a href="myapplication.html">Мои заявки</a>
                        <a href="search-driver.html">Найти водителя</a>
                    </nav>
                    <div class="column main__profile">
                        <ul class="avto__list">
                            
                        </ul>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="container">
                <a href="index.html" class="logo">
                    <img src="assets/media/icons/logo.png" alt="logo">
                </a>
                <nav class="footer__nav">
                    <a href="reviews.html">Отзывы</a>
                    <a href="blog.html">Блог</a>
                    <a href="contact.html">Контакты</a>
                </nav>
                <a href="mailto: support@transporter.com">support@transporter.com</a>
            </div>
        </footer>
    </div>
    <script src="assets/js/main.js"></script>
</body>

</html>