<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="assets/css/root.css">
    <link rel="stylesheet" href="assets/css/ui.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <div class="btn">Button def</div>
        <div class="btn btn__border">Button border</div>
        <div class="text__block">
            <h3>Широкий выбор водителей</h3>
            <p>Доступ к базе данных квалифицированных водителей с различным опытом и типами транспорта. Заказчики могут
                легко найти подходящего исполнителя для своих нужд.</p>
        </div>
        <div class="title__sec">Блог</div>
        <div class="text__block border">
            <h3>Как выбрать подходящего перевозчика</h3>
            <p>При выборе перевозчика важно учитывать несколько факторов: репутацию компании, наличие лицензий и
                страховки, опыт работы, а также отзывы предыдущих клиентов. Сравните предложения разных перевозчиков по
                стоимости, срокам доставки и условиям. Запросите расценки и уточните детали, такие как услуги по
                упаковке и отслеживанию груза. Личный контакт также может помочь в оценке надежности компании.</p>
        </div>
    </div>
    <script src="assets/js/main.js"></script>
</body>

</html>